/*jshint esversion: 6 */
'use strict';

class Config {
    constructor() {
        /**
         * Enables verbose logging when set to true.
         * @type {boolean}
         */
        this.verbose = false;

        /**
         * Supported process arguments
         * @type {{}}
         */
        this.argumentMap = {
            '--help': (config) => {
                console.log('Supported arguments:');
                Object.keys(config.argumentMap).forEach((argument) => {
                    console.log(argument);
                });

                //noinspection JSUnresolvedVariable
                process.exit();
            },
            '--verbose': (config) => {
                config.verbose = true;
            },
            '--version': () => {
                let packageInfo = JSON.parse(fs.readFileSync('./package.json'));
                console.log(`${packageInfo.name} version ${packageInfo.version}`);

                //noinspection JSUnresolvedVariable
                process.exit();
            }
        };

        /**
         * Snoowrap configuration parameters.
         * @see https://not-an-aardvark.github.io/snoowrap/snoowrap.html
         */
        this.snoowrap = {
            userAgent: '/u/coinflipbot Node JS bot v0.0.0',
            clientId: '',
            clientSecret: '',
            username: 'coinflipbot',
            password: ''
        };

        /**
         * Subreddit to parse comments from.
         * @type {string}
         */
        this.subreddit = 'all';

        /**
         * Options for comment parser listings.
         * @see https://not-an-aardvark.github.io/snoowrap/Listing.html
         * @type {{amount: number}}
         */
        this.commentParser = {
            amount: 100
        };

        /**
         * MySQL connection details
         * @type {{host: string, user: string, password: string, database: string}}
         */
        this.mysql = {
            host: 'localhost',
            user: '',
            password: '',
            database: 'coinflipbot'
        };
    }
}

module.exports = Config;